body {
  font-family: Arial, sans-serif;
  background-color: #0078C8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 123, 255, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0078C8	;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input[type="text"],
form input[type="file"],
form textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  border: 4px solid #0078C8	;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  background-color: white;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: vertical;
  min-height: 44px;
}

form input[type="text"]:focus,
form textarea:focus {
  border-color: #007acc;
  box-shadow: 0 0 8px #007acc80;
}

button {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.8rem;
  background-color: #0078C8;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007acc;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0d6efd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mensaje-exito {
  margin-top: 1rem;
  color: green;
  text-align: center;
}
.logo-container {
  text-align: center;
  margin-bottom: 10px;
}

.logo-img {
  max-width: 200px;
  height: auto;
  display: inline-block;
}
label {
  display: block;
  text-align: left;
  color: #3ba2e7;
  font-weight: bold;
  margin-top: 10px;
} 
.azul {
  color: #0078C8;
  font-weight: bold;
  font-size: 19px; 
}
